
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>From @Model.From</h2>
    <h1> Happy Birtday @Model.To!</h1>
</head>
<body>
</body>
</html>
