
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body  class="text-center">
    <h2>From: @Model.From</h2>
    <h2>To: @Model.To</h2>
    <h2 >@Model.Message!</h2>
</body>
</html>
